div {
    margin: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em;
    margin: 0.5em;
}

#welcome {
    font-weight: bold;
    font-size: 300%;
    color: white;
    background-color: #2E5A88;
    text-align: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a:hover {
    color: green;

}

